extends ../layouts/base_layout.jade

block body
  #wrapper
    nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
      include ./layout/top_navigation.jade
      include ./layout/left_navigation.jade
    #page-wrapper
      .container-fluid
        +display_flash_messages
        block content