+form-for(service)(class="form-inline col-lg-12" form_action='/admin-panel/services')
  +text-field('name', service)(label="Nome")
  br
  +text-field('price', service)(label="Preço")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
