extends ../layout.jade

block content
  h2 Listagem de Serviços
  br
  a.btn.btn-success(href="/admin-panel/services/new")
    i.fa.fa-plus
    |  Novo
  hr
  if services.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Preço
          th Ações
        each service in services
          tr
            td= service.id
            td= service.name
            td= "R$ " + service.price
            td
              +show-button(href="/admin-panel/services/#{service.id}")
              +edit-button(href="/admin-panel/services/#{service.id}/edit")
              +delete-button(action='/admin-panel/services/#{service.id}')
  else
    .panel.panel-default
      h3.text-center
        | Não existe nenhum serviço cadastrado
