extends ../layout.jade

block content
  nav.navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Automecanica
      #navbar.navbar-collapse.collapse
        if user
          .navbar-right
            label.text-muted Olá #{user.name}
        else
          form(action="/login" method="POST").navbar-form.navbar-right
            .form-group
              input.form-control(type='text' name="email" placeholder='Email')
            | &nbsp;
            .form-group
              input.form-control(type='password' name="password" placeholder='Senha')
            | &nbsp;
            button.btn.btn-success(type='submit') Entrar
  .jumbotron
    .container
      h1 Bem-vindo!
      p
        | Seja bem vindo a oficina Automecanica!
      p
        a.btn.btn-primary.btn-lg(href='/registration', role='button') Fazer agendamento
  .container
    .row
      .col-md-4
        h2 Heading
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-md-4
        h2 Heading
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-md-4
        h2 Heading
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-default(href='#', role='button') View details »
    hr
    footer
      p © Company 2014