doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Automecanica

    link(href='/stylesheets/build/app.css' rel='stylesheet')
    script(src='/scripts/build/app.js')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  body
    #wrapper
      .container-fluid
        h2 Parece que você quebrou alguma coisa...
        p 
          | Se você sabe o que está fazendo, 
          a(id='show-stack') clique aqui!
        .panel.panel-danger(class='error-panel')
          .panel-heading
            h4 Error #{err.status}
          .panel-body
            pre #{err.stack}

        script.
          #{ ENV === 'PRODUCTION' ? "$('.error-panel').hide();" : null }
          $('#show-stack').click(function() {
            $('.error-panel').toggle('slow');
          });
