.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a(href='/client-panel/vehicles')
          +icon-for('vehicle')
          |  Veículos
      li
        a(href='/client-panel/schedules')
          +icon-for('schedule')
          |  Agendamento
      li
        a(href='/client-panel/sos')
          +icon-for('so')
          |  Ordens de Serviço
