+form-for(schedule)(class="form-inline col-lg-12" form_action='/attendant-panel/schedules')
  +datepicker-field('datetime', schedule)(label="Dia")
  br
  if vehicles
    +choice-field('vehicleId', schedule, vehicles)(label="Veículo" displayField="licensePlate")
    br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")

script.
  $("#datetimepicker-datetime").on('change', updateFreeHours);

  function updateFreeHours() {
    var date = $("#datetimepicker-datetime").val();
    var dateFormated = moment(date, 'DD-MM-YYYY HH:mm');
    $.ajax({
      method: 'GET',
      dateType: 'json',
      url: '/api/schedules/free-hours-by-date',
      data: {
        date: dateFormated.toDate().toGMTString() // just toString() doesn't works!
      }
    }).done(function(freeHours) {
      $("#datetimepicker-datetime").datetimepicker({
        allowTimes: freeHours
      });
    });
  }