extends ../layout.jade

block content
  h2 Listagem de Agendamentos
  br
  a.btn.btn-success(href="/attendant-panel/schedules/new")
    i.fa.fa-plus
    |  Novo
  hr
  if schedules.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Data
          th Cliente
          th Placa
          th Ações
        each schedule in schedules
          tr
            td= schedule.id
            td= moment(schedule.datetime).format('lll')
            td= schedule.clientName
            td= schedule.licensePlate
            td
              +show-button(href="/attendant-panel/schedules/#{schedule.id}")
              +edit-button(href="/attendant-panel/schedules/#{schedule.id}/edit")
