extends ../layout.jade

block content
  h1 Agendamento #{schedule.id}
  +show-box
    +show-date('datetime', schedule)(label="Data")
    br
    a(href="/attendant-panel/clients/" + schedule.clientId)
      +show-attribute('clientName', schedule)(label="Client")
    br
    +back-button(class="col-xs-4")
    form(method='POST' action='/attendant-panel/schedules/#{schedule.id}')
      input(type='hidden' name='_method' id='_method' value='DELETE')
      +submit-button(class="col-xs-offset-4 col-xs-offset-4" id="btnCancel")
        | Cancelar
    

  script.
    $(document).ready(function() {
      $("form").submit(function(event) {
        event.preventDefault();
        alertify.set({
          labels: {
            ok      : "Sim",
            cancel  : "Não"
          },
          buttonFocus: "cancel"
        });
        alertify.confirm("Deseja realmente cancelar este agendamento?", function (event) {
          if (event) {
            $("form")[0].submit();
          }
          else {
            // Não faça nada
          }
        });
      });
    });
