extends ../layout.jade

block content
  h2 Agendamentos
  br
  a.btn.btn-success(href="/client-panel/schedules/new")
    i.fa.fa-plus
    |  Fazer agendamento
  hr
  if schedules.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th Data
          th Placa do Veículo
          th Ações
        each schedule in schedules
          tr
            td= moment(schedule.datetime).format('lll')
            td= schedule.licensePlate
            td
              +show-button(href="/client-panel/schedules/#{schedule.id}")
              +edit-button(href="/client-panel/schedules/#{schedule.id}/edit")
  else
    .panel.panel-default
      h3.text-center
        | Você ainda não tem nenhum agendamento,&nbsp;
        a(href="/client-panel/schedules/new") clique aqui
        | &nbsp;para fazer um!
