.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a(href='/technician-panel/teams')
          +icon-for('team')
          |  Equipes
      li
        a(href='/technician-panel/clients')
          +icon-for('client')
          |  Clientes
      li
        a(href='/technician-panel/autoParts')
          +icon-for('autoPart')
          |  Peças
      li
        a(href='/technician-panel/services')
          +icon-for('service')
          |  Serviços
      li
        a(href='/technician-panel/schedules')
          +icon-for('schedule')
          |  Agendamentos
      li
        a(href='/technician-panel/revisions')
          +icon-for('revision')
          |  Revisões
      li
        a(href='/technician-panel/sos')
          +icon-for('so')
          |  Ordems de serviço
