+form-for(so)(class="form-inline col-lg-12 form-so" form_action='/technician-panel/sos')
  +choice-field('vehicleId', so, vehicles)(label="Veículo", displayField='licensePlate')
  br
  +checklist('servicesIds', so, services)(label="Serviços", displayField='name')
  br
  +checklist('autoPartsIds', so, autoParts)(label="Peças", displayField='name')
  br
  .row 
    p(style='font-weight: 700') Equipe Sugerida: #{teamSuggestion.speciality}
  +checklist('teamsIds', so, teams)(label="Equipes", displayField='speciality')
  br
  +datepicker-field('dueDate', so)(label="Data de entrega" disableTime=true)

  br
  .row
    +cancel-button(class="col-xs-3" id="modal-cancel")
    +modal-button(class="col-xs-offset-6 col-xs-3" id="modal-confirmation")
      | Resumo

#form-confirmation.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Confirmação de Ordem de Serviço
        .modal-body(id='modal-body')
          | Ocorreu um erro, favor consultar o serviço técnico...
        .modal-footer
          .container-fluid
            .row
              button.btn.btn-default.col-xs-4(type='button' data-dismiss='modal') Voltar
              .col-xs-4
              button.btn.btn-success.col-xs-4(type='button' id='submit') Confirmar

script.
  $('#modal-confirmation').click(function() {
    var checkedServicesIds = getCheckedIds(".servicesIds");
    var checkedAutoPartsIds = getCheckedIds(".autoPartsIds");
    var checkedTeamsIds = getCheckedIds(".teamsIds");
    var vehicleId = $('#vehicleId').val();
    var dueDate = $('#dueDate').val();

    var data = {
      servicesIds: checkedServicesIds,
      autoPartsIds: checkedAutoPartsIds,
      teamsIds: checkedTeamsIds,
      vehicleId: vehicleId,
      dueDate: dueDate
    };

    $.ajax({
      method: "POST",
      url: "/technician-panel/sos/preview",
      data: data
    }).done(function( content ) {
      $('#modal-body').html(content);
      $('#form-confirmation').modal('show');
    });
  });

  function getCheckedIds(target) {
    var checkedIds = [];
    $(target).find('label').each(function(index, element) {
      var $element = $(element).find('input');
      if ( $element.prop('checked') ) {
        checkedIds.push( $element.val() );
      }
    });
    return checkedIds;
  };

  $('#submit').click(function() {
    $('.form-so').submit();
  });

  $('#modal-cancel').click(function(event) {
    var reason = prompt('Qual o motivo do cancelamento?');
    if (typeof reason === 'string') {
      var userAnwser = reason || 'Não espeficicado';
      $('.form-so').append('<input type="hidden" name="cancellationReason" value="' + userAnwser + '">');
      $('.form-so').submit();
    } else {
      event.preventDefault();
    }
  });