include ../../mixins/components
h3
  +icon-for('vehicle')
  | &nbsp;Veículo
br
+show-attribute('name', client)(label="Proprietário")
br
+show-attribute('licensePlate', vehicle)(label="Placa")
br
+show-attribute('model', vehicle)(label="Modelo")
br
+show-attribute('year', vehicle)(label="Ano")
if teams.length > 0
  hr
  each team in teams
    h3
      +icon-for('team')
      | &nbsp;#{team.speciality}
    br
    +show-attribute('mechanic1Name', team)(label="Mecânico 1")
    br
    +show-attribute('mechanic2Name', team)(label="Mecânico 2")
    br
if services.length > 0
  hr
  each service in services
    h3
      +icon-for('service')
      | &nbsp;#{service.name}
    br
    +show-attribute('price', service)(label="Preço")
    br
if autoParts.length > 0
  hr
  each autoPart in autoParts
    h3
      +icon-for('autoPart')
      | &nbsp;#{autoPart.name}
    br
    +show-attribute('price', autoPart)(label="Preço")
    br
hr
.row
  label.col-xs-4 Previsão de término
  p.col-xs-8= dueDate.format('L')
.row
  label.col-xs-4 Custo Total
  p.col-xs-8= totalPrice
