extends ../layout.jade

block content
  h1 Ordem de Serviço #{so.id}
  +show-box
    h3
      +icon-for('vehicle')
      | &nbsp;Veículo
    br
    +show-attribute('name', client)(label="Proprietário")
    br
    +show-attribute('licensePlate', vehicle)(label="Placa")
    br
    +show-attribute('model', vehicle)(label="Modelo")
    br
    +show-attribute('year', vehicle)(label="Ano")
    hr
    if teams.length > 0
      each team in teams
        h3
          a(href="/technician-panel/teams/#{team.id}")
            +icon-for('team')
          | &nbsp;#{team.speciality}
        br
        +show-attribute('mechanic1Name', team)(label="Mecânico 1")
        br
        +show-attribute('mechanic2Name', team)(label="Mecânico 2")
        br
      hr
    if services.length > 0
      each service in services
        h3
          a(href="/technician-panel/services/#{service.serviceId}")
            +icon-for('service')
          | &nbsp;#{service.name}
        br
        +show-attribute('status', service)(label="Status")
        br
        +show-attribute('price', service)(label="Preço")
        br
      hr
    if autoParts.length > 0
      each autoPart in autoParts
        h3
          a(href="/technician-panel/autoparts/#{autoPart.autoPartId}")
            +icon-for('autoPart')
          | &nbsp;#{autoPart.name}
        br
        +show-attribute('quantity', autoPart)(label="Quantidade")
        br
        +show-attribute('unitPrice', autoPart)(label="Preço Unitário")
        br
    +back-button(class="col-md-offset-4 col-md-4")
