extends ../layout.jade

block content
  h1 Agendamento #{schedule.id}
  +show-box
    +show-date('datetime', schedule)(label="Data")
    br
    a(href="/technician-panel/clients/" + schedule.clientId)
      +show-attribute('clientName', schedule)(label="Client")
    br
    +back-button(class="col-md-offset-4 col-md-4")
