extends ../layout.jade

block content
  h2 Listagem de Peças
  hr
  if autoParts.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Preço
          th Ações
        each autoPart in autoParts
          tr
            td= autoPart.id
            td= autoPart.name
            td= "R$ " + autoPart.price
            td
              +show-button(href="/technician-panel/autoParts/#{autoPart.id}")
