extends ../layout.jade

block content
  h1 Peça #{autoPart.id}
  +show-box
    +show-attribute('name', autoPart)(label="Nome")
    br
    +show-attribute('price', autoPart)(label="Preço")
    br
    +back-button(class="col-md-offset-4 col-md-4")
