.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a(href='/attendant-panel/clients')
          +icon-for('client')
          |  Clientes
      li
        a(href='/attendant-panel/vehicles')
          +icon-for('vehicle')
          |  Veículos
      li
        a(href='/attendant-panel/schedules')
          +icon-for('schedule')
          |  Agendamentos
      li
        a(href='/attendant-panel/sos')
          +icon-for('so')
          |  Ordens de serviço
