.navbar-header(style="width: 100%;")
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/attendant-panel') Automecanica
  ul.nav.navbar-top-links.navbar-right.pull-right
    li.dropdown
      a.dropdown-toggle(data-toggle='dropdown', href='#')
        i.fa.fa-user.fa-fw
        i.fa.fa-caret-down
      ul.dropdown-menu.dropdown-user
        li
          a(href='/attendant-panel/attendant')
            i.fa.fa-user.fa-fw
            |  User Profile
        li
          a(href='/attendant-panel/password')
            i.fa.fa-lock.fa-fw
            |  Alterar senha
        li.divider
        li    
          a(href='/logout')
            i.fa.fa-sign-out.fa-fw
            |  Logout
