mixin delete-button
  form(method="POST")&attributes(attributes)
    input(type="hidden" id="_method" name="_method" value="DELETE")
    button.btn.btn-danger.btn-sm(type="submit" value="Delete" style="display:none")
      if block
        block
      else
        i.fa.fa-trash.fa-fw
