mixin payment-button
  form(method="POST")&attributes(attributes)
    button.btn.btn-info.btn-sm(type="submit" title="Confirmar pagamento")
      if block
        block
      else
        i.fa.fa-money.fa-fw
