extends ../layout.jade

block content
  .row
    +display_flash_messages
  h2 Cadastre-se para poder fazer um agendamento!
  p
    | Ou&nbsp;
    a(href="/login")
      | clique aqui
    | &nbsp;se já for cadastrado
  hr
  include ./form.jade
