extends ../layout.jade

block content
  h2 Listagem de Ordens de Serviços
  br
  if sos.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Veículo
          th Data da Entrega
          th Data do Termino
          th Status das tarefas
          th Ações
        each so in sos
          tr
            td= so.id
            td= so.licensePlate
            td= moment(so.dueDate).format('lll')
            td= so.endDate ? moment(so.endDate).format('lll') : 'Não encerrado'
            td= so.tasksStatus
            td
              +show-button(href="/mechanic-panel/sos/#{so.id}")
              a.btn.btn-warning.btn-sm(href="/mechanic-panel/sos/#{so.id}/tasks")
                  +icon-for('service')
