extends ../layout.jade

block content
  h1 Ordem de Serviço #{so.id}
  +show-box
    h3
      +icon-for('vehicle')
      | &nbsp;Veículo
    br
    +show-attribute('licensePlate', vehicle)(label="Placa")
    br
    hr
    form(
      method='POST' action='/mechanic-panel/sos/#{so.id}/tasks'
      style='margin-bottom: 50px;'
      class='form-inline col-lg-12'
    )
      if services.length > 0
        h3 
          +icon-for('service')
          | &nbsp;Serviços
        +checklistfortasks(services)(displayField='name')
          br
        hr
      +submit-button(class="col-xs-4")
        | Concluir tarefas
      +back-button(class="col-xs-offset-4 col-xs-4")
