mixin checklistfortasks(collections)
  .row
    .form-group(style="width: 100%;")
      label(for="servicesIds")
        =attributes.label
      div.row(style="border: 5px solid lightgrey; padding: 5px;") 
        for element in collections
          div.col-xs-6.col-md-4(style="margin-top: 10px; margin-bottom: 10px;")
            label.checkbox-inline.pull-left
              input(
                type="checkbox"
                name="servicesIds"
                value="#{element['serviceId']}"
                checked=(element['status'] == 'Finalizada' ? true : null)
                disabled=(element['status'] == 'Finalizada' ? true : null)
                style="width: 15px; height: 15px;")
              span= element[attributes.displayField]
