mixin checklist(fieldName, resource, collections)
  .row
    .form-group(style="width: 100%;")
      label(for="#{fieldName}")
        =attributes.label
      div.row(style="border: 5px solid lightgrey; padding: 5px;" class="#{fieldName}") 
        for element in collections
          div.col-xs-6.col-md-4(style="margin-top: 10px; margin-bottom: 10px;")
            label.checkbox-inline.pull-left
              input(
                type="checkbox"
                name="#{fieldName}"
                value="#{element['id']}"
                checked=(element['checked'] || null)
                disabled=(element['checked'] || null)
                style="width: 15px; height: 15px;")
              span= element[attributes.displayField]
