mixin choice-field(fieldName, resource, collections)
  .row
    .form-group(style="width: 100%;")
      label(for="#{fieldName}")
        =attributes.label
      select(
        class="form-control choice-#{fieldName}"
        style="width: 100%;"
        id="#{fieldName}"
        name="#{fieldName}"
        value="#{resource[fieldName] || ''}"
        )
        for element in collections
          if element['id']
            option(
              value="#{element['id']}"
              selected=(resource[fieldName] == element['id']) ? 'selected' : null
              )
              | #{element[attributes.displayField]}
          else
            option(
              value="#{element}"
              selected=(resource[fieldName] == element) ? 'selected' : null
              ) #{element}
  script.
    $(".choice-#{fieldName}").chosen({
      no_results_text: "Opção não encontrada:",
      width: '100%'
    });