mixin datepicker-field(fieldName, resource, options)
  - options = options || {}
  .row
    .form-group(style="width: 100%;")
      label(for="#{fieldName}")
        =attributes.label
      input.form-control.datetimepicker(
        style="width: 100%;"
        id="datetimepicker-#{fieldName}"
        required=options.required ? 'required' : null
        data-target="\##{fieldName}"
        )
      input(
        class="form-control"
        style="width: 100%;"
        type="hidden"
        id="#{fieldName}"
        name="#{fieldName}"
        value="#{resource[fieldName] || ''}"
        placeholder!=attributes.placeholder || ''
        )
  if resource[fieldName]
    script.
      var defaultDatetime = moment.utc("#{resource[fieldName]}").format('#{attributes.disableTime ? "DD/MM/YYYY" : "DD/MM/YYYY HH:mm"}');
  script.
    $('#datetimepicker-#{fieldName}').datetimepicker({
        lang: 'pt-BR',
        minDate: #{ options.minDate !== undefined ? options.minDate : 0 },
        maxDate: #{ options.maxDate !== undefined ? options.maxDate : "\'+1970/03/01\'" },
        timepicker: #{!attributes.disableTime},
        #{attributes.disableTime ? "format: 'd/m/Y'," : "format: 'd/m/Y H:i',"}
        #{resource[fieldName] ? 'value: defaultDatetime,' : ''}
        onChangeDateTime: function (dp, $input) {
          var targetId = $input.data('target');
          var dateSelected = moment.utc($input.val(), 'DD/MM/YYYY HH:mm').toDate();

          $(targetId).val(dateSelected.toISOString());
        }
      });
  if resource[fieldName]
    script.
      $('##{fieldName}').val(
        moment($('#datetimepicker-#{fieldName}').val(), 'DD/MM/YYYY HH:mm').toDate().toISOString()
      );