mixin daypicker-field(fieldName, resource, options)
  - options = options || {}
  .row
    .form-group(style="width: 100%;")
      label(for="#{fieldName}")
        =attributes.label
      input.form-control.datetimepicker(
        style="width: 100%;"
        id="datetimepicker-#{fieldName}"
        required=options.required ? 'required' : null
        data-target="\##{fieldName}"
        )
      input(
        class="form-control"
        style="width: 100%;"
        type="hidden"
        id="#{fieldName}"
        name="#{fieldName}"
        value="#{resource[fieldName] || ''}"
        placeholder!=attributes.placeholder || ''
        )
  if resource[fieldName]
    script.
      var defaultDay = moment("#{resource[fieldName]}").format('DD/MM/YYYY');
  script.
    $('#datetimepicker-#{fieldName}').datetimepicker({
        lang: 'pt-BR',
        minDate: #{ options.minDate !== undefined ? options.minDate : 0 },
        maxDate: #{ options.maxDate !== undefined ? options.maxDate : "\'+1970/03/01\'" },
        timepicker: false,
        format: 'd/m/Y',
        #{resource[fieldName] ? 'value: defaultDay,' : ''}
        onChangeDateTime: function (dp, $input) {
          var targetId = $input.data('target');
          var dateSelected = moment($input.val(), 'DD/MM/YYYY HH:mm').toDate();

          $(targetId).val(dateSelected.toISOString());
        }
      });
  if resource[fieldName]
    script.
      $('##{fieldName}').val(
        moment($('#datetimepicker-#{fieldName}').val(), 'DD/MM/YYYY HH:mm').toDate().toISOString()
      );