mixin form-for(resource)
  - var form_action = attributes.form_action;
  - delete attributes.form_action;
  if resource.isPersisted()
    form(
      method='POST'
      action= form_action + '/' + resource.id
      style='margin-bottom: 50px;'
      )&attributes(attributes)
      input(type="hidden" id="_method" name="_method" value="PATCH")
      if block
        block
  else
    form(
      method='POST'
      action= form_action
      style='margin-bottom: 50px;'
      )&attributes(attributes)
      if block
        block
