mixin text-field(fieldName, resource, options)
  - options = options || {}
  .row
    .form-group(style="width: 100%;")
      label(for="#{fieldName}")
        =attributes.label
      input(
        class="form-control"
        style="width: 100%;"
        type= attributes.type || "text"
        id="#{fieldName}"
        name="#{fieldName}"
        value="#{resource[fieldName] || ''}"
        required= options.required ? 'required' : null
        placeholder!=attributes.placeholder || ''
        )