extends ../layout.jade

block content
  h2 Listagem de Veículos
  hr
  if vehicles.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th Dono
          th Modelo
          th Placa
          th Renavam
          th Ano
          th Ações
        each vehicle in vehicles
          tr
            td= vehicle.owner
            td= vehicle.model
            td= vehicle.licensePlate
            td= vehicle.renavam
            td= vehicle.year
            td
              +show-button(href="/admin-panel/vehicles/#{vehicle.id}")
  else
    .panel.panel-default
      h3.text-center
        | Não existe nenhum veículo cadastrado
