+form-for(revision)(class="form-inline col-lg-12 form-revision" form_action='/admin-panel/revisions')
  +text-field('name', revision)(label="Nome")
  br
  +text-field('description', revision)(label="Descrição")
  br  
  +checklist('servicesIds', revision, services)(label="Serviços", displayField='name')
  br
  +checklist('autoPartsIds', revision, autoParts)(label="Peças", displayField='name')
  br
  .row
    +back-button(class="col-xs-3")
    +modal-button(class="col-xs-offset-6 col-xs-3" id="modal-confirmation")
      | Resumo

#form-confirmation.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Confirmação de Revisão
        .modal-body(id='modal-body')
          | Ocorreu um erro, favor consultar o serviço técnico...
        .modal-footer
          .container-fluid
            .row
              button.btn.btn-default.col-xs-4(type='button' data-dismiss='modal') Voltar
              .col-xs-4
              button.btn.btn-success.col-xs-4(type='button' id='submit') Confirmar

script.
  $('#modal-confirmation').click(function() {
    var checkedServicesIds = getCheckedIds(".servicesIds");
    var checkedAutoPartsIds = getCheckedIds(".autoPartsIds");
    var name = $('#name').val();
    var description = $('#description').val();

    var data = {
      servicesIds: checkedServicesIds,
      autoPartsIds: checkedAutoPartsIds,
      name: name,
      description: description
    };

    $.ajax({
      method: "POST",
      url: "/admin-panel/revisions/preview",
      data: data
    }).done(function( content ) {
      $('#modal-body').html(content);
      $('#form-confirmation').modal('show');
    });
  });

  function getCheckedIds(target) {
    var checkedIds = [];
    $(target).find('label').each(function(index, element) {
      var $element = $(element).find('input');
      if ( $element.prop('checked') ) {
        checkedIds.push( $element.val() );
      }
    });
    return checkedIds;
  };

  $('#submit').click(function() {
    $('.form-revision').submit();
  });
