extends ../layout.jade

block content
  h2 Listagem de Revisões
  br
  a.btn.btn-success(href="/admin-panel/revisions/new")
    i.fa.fa-plus
    |  Novo
  hr
  if revisions.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Ações
        each revision in revisions
          tr
            td= revision.id
            td= revision.name
            td
              +show-button(href="/admin-panel/revisions/#{revision.id}")
  else
    h3 Ainda não há nenhuma revisão cadastrada