include ../../mixins/components

h3
  +icon-for('revision')
  | &nbsp;Revisão
.row
  label.col-xs-4 nome
  p.col-xs-8= name
.row
  label.col-xs-4 Descrição
  p.col-xs-8= description
if services.length > 0
  hr
  each service in services
    h3
      +icon-for('service')
      | &nbsp;#{service.name}
    br
    +show-attribute('price', service)(label="Preço")
    br
if autoParts.length > 0
  hr
  each autoPart in autoParts
    h3
      +icon-for('autoPart')
      | &nbsp;#{autoPart.name}
    br
    +show-attribute('price', autoPart)(label="Preço")
    br