+form-for(client)(class="form-inline col-lg-12" form_action='/attendant-panel/clients')
  - var options = { required: true }
  +text-field('name', client, options)(label="Nome")
  br
  +text-field('email', client, options)(label="Email")
  br
  +text-field('address', client, options)(label="Endereço")
  br
  +text-field('telephone1', client, options)(label="Telefone Principal")
  br
  +text-field('telephone2', client)(label="Telefone (Opcional)")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
