extends ../layout.jade

block content
  h2 Listagem de Clientes
  br
  a.btn.btn-success(href="/attendant-panel/clients/new")
    i.fa.fa-plus
    |  Novo
  hr
  if clients.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Email
          th Telefone
          th Ações
        each client in clients
          tr
            td= client.id
            td= client.name
            td= client.email
            td= client.telephone1
            td
              +show-button(href="/attendant-panel/clients/#{client.id}")
              +edit-button(href="/attendant-panel/clients/#{client.id}/edit")
              +delete-button(action="/attendant-panel/clients/#{client.id}")
  else
    .panel.panel-default
      h3.text-center
        | Não existe nenhum cliente cadastrado