extends ../layout.jade

block content
  h1 Cliente #{client.id}
  +show-box
    +show-attribute('name', client)(label="Nome")
    br
    +show-attribute('email', client)(label="Email")
    br
    +show-attribute('address', client)(label="Endereço")
    br
    +show-attribute('telephone1', client)(label="Telefone Principal")
    br
    if client.telephone2
      +show-attribute('telephone2', client)(label="Telefone (Opcional)")
      br
    a.btn.btn-success(href="/attendant-panel/clients/#{client.id}/vehicles/new" class="col-xs-8 col-sm-4")
      i.fa-fa-plus
        | Cadastrar veículo
    +back-button(class="col-xs-4 col-sm-offset-4 col-sm-4")

  hr

  h2 Veículos de #{client.name}
  br
  if vehicles.length > 0
    table.table.table-striped.table-hover
      tr
        th ID
        th Modelo
        th Placa
        th Renavam
        th Ano
        th
      each vehicle in vehicles
        tr
          td= vehicle.id
          td= vehicle.model
          td= vehicle.licensePlate
          td= vehicle.renavam
          td= vehicle.year
          td
            +show-button(href="/attendant-panel/vehicles/#{vehicle.id}")
            +edit-button(href="/attendant-panel/vehicles/#{vehicle.id}/edit")
            +delete-button(action='/attendant-panel/vehicles/#{vehicle.id}')