extends ../layout.jade

block content
  h1 Serviço #{service.id}
  +show-box
    +show-attribute('name', service)(label="Nome")
    br
    +show-attribute('price', service)(label="Preço")
    br
    +back-button(class="col-md-offset-4 col-md-4")
