+form-for(staff)(class="form-inline col-lg-12" form_action='/admin-panel/staffs')
  - var options = { required: true }
  +text-field('name', staff, options)(label="Nome")
  br
  +text-field('email', staff, options)(label="Email")
  br
  +text-field('address', staff, options)(label="Endereço")
  br
  if !staff.isPersisted()
    +text-field('password', staff, options)(label="Senha" type="password")
    br
  +choice-field('role', staff, PERMITTED_ROLES)(label="Função")
  br
  +text-field('telephone1', staff, options)(label="Telefone Principal")
  br
  +text-field('telephone2', staff)(label="Telefone (Opcional)")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")