extends ../layout.jade

block content
  h2 Listagem de Funcionários
  br
  a.btn.btn-success(href="/admin-panel/staffs/new")
    i.fa.fa-plus
    |  Novo
  hr
  if staffs.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Email
          th Função
          th Telefone
          th Team ID
          th Ações
        each staff in staffs
          tr
            td= staff.id
            td= staff.name
            td= staff.email
            td= staff.role
            td= staff.telephone1
            td= staff.teamId
            td
              +show-button(href="/admin-panel/staffs/#{staff.id}")
              +edit-button(href="/admin-panel/staffs/#{staff.id}/edit")
              +delete-button(action='/admin-panel/staffs/#{staff.id}')
  else
    .panel.panel-default
      h3.text-center
        | Não existe nenhum funcionário cadastrado
