extends ../layout.jade

block content
  h1 Funcionário #{staff.id}
  +show-box
    +show-attribute('name', staff)(label="Nome")
    br
    +show-attribute('role', staff)(label="Função")
    br
    +show-attribute('email', staff)(label="Email")
    br
    +show-attribute('address', staff)(label="Endereço")
    br
    +show-attribute('telephone1', staff)(label="Telefone Principal")
    br
    if staff.telephone2
      +show-attribute('telephone2', staff)(label="Telefone (Opcional)")
      br
    +back-button(class="col-md-offset-4 col-md-4")
