include ./button/editButton.jade
include ./button/showButton.jade
include ./button/deleteButton.jade
include ./button/modalButton.jade
include ./button/paymentButton.jade
include ./button/cancelButton.jade

include ./form/formFor.jade
include ./form/textField.jade
include ./form/submitButton.jade
include ./form/backButton.jade
include ./form/choiceField.jade
include ./form/selfEditButton.jade
include ./form/checkList.jade
include ./form/datepickerField.jade
include ./form/checkListForTasks.jade
include ./form/daypickerField.jade
include ./form/radioList.jade

include ./show/showBox.jade
include ./show/showAttribute.jade
include ./show/showDate.jade

include ./icons/iconFor.jade

include ./flash/display_flash_messages.jade
