mixin display_flash_messages
  br
  for message_type in ['error', 'warning', 'info', 'success']
    - messages = flash(message_type)
    for message in messages

      - alert_class = message_type
      if message_type === 'error'
        - alert_class = 'danger'

      .alert.text-center.col-xs-offset-1.col-xs-10(class="alert-#{alert_class}" role="alert")
        =message