.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a(href='/mechanic-panel/autoParts')
          +icon-for('autoPart')
          |  Peças
      li
        a(href='/mechanic-panel/services')
          +icon-for('service')
          |  Serviços
      li
        a(href='/mechanic-panel/sos')
          +icon-for('so')
          |  Ordens de Serviço
