extends ../layout.jade

block content
  h2 Listagem de Ordens de Serviços
  hr
  if sos.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Veículo
          th Previsão de Término
          th Data do Termino
          th Status das tarefas
          th Ações
        each so in sos
          tr
            td= so.id
            td= so.licensePlate
            td= moment(so.dueDate).format('lll')
            td= so.endDate ? moment(so.endDate).format('lll') : 'Não encerrado'
            td= so.tasksStatus
            td
              +show-button(href="/admin-panel/sos/#{so.id}")
