+form-for(autoPart)(class="form-inline col-lg-12" form_action='/admin-panel/autoParts')
  +text-field('name', autoPart)(label="Nome")
  br
  +text-field('price', autoPart)(label="Preço")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
