extends ../layout.jade

block content
  h2 Listagem de Peças
  br
  a.btn.btn-success(href="/admin-panel/autoParts/new")
    i.fa.fa-plus
    |  Novo
  hr
  if autoParts.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Preço
          th Ações
        each autoPart in autoParts
          tr
            td= autoPart.id
            td= autoPart.name
            td= "R$ " + autoPart.price
            td
              +show-button(href="/admin-panel/autoParts/#{autoPart.id}")
              +edit-button(href="/admin-panel/autoParts/#{autoPart.id}/edit")
              +delete-button(action='/admin-panel/autoParts/#{autoPart.id}')
  else
    .panel.panel-default
      h3.text-center
        | Não existe nenhuma peça cadastrada
