form(
  method='POST'
  action='/attendant-panel/attendant'
  style='margin-bottom: 50px;'
  class="form-inline col-lg-12"
  )

  input(type="hidden" id="_method" name="_method" value="PATCH")

  +show-attribute('name', staff)(label="Nome")
  br
  +show-attribute('email', staff)(label="Email")
  br
  +text-field('address', staff)(label="Endereço")
  br
  +text-field('telephone1', staff)(label="Telefone Principal")
  br
  +text-field('telephone2', staff)(label="Telefone (Opcional)")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
