extends ../layout.jade

block content
  h1 Revisão #{revision.id}
  h3 #{revision.name}
  h3 Descrição:
  p #{revision.description}
  hr
  if services.length > 0
    each service in services
      h3
        a(href="/technician-panel/services/#{service.serviceId}")
          +icon-for('service')
        | &nbsp;#{service.name}
      br
      +show-attribute('status', service)(label="Status")
      br
      +show-attribute('price', service)(label="Preço")
      br
    hr
  if autoParts.length > 0
    each autoPart in autoParts
      h3
        a(href="/technician-panel/autoparts/#{autoPart.autoPartId}")
          +icon-for('autoPart')
        | &nbsp;#{autoPart.name}
      br
      +show-attribute('quantity', autoPart)(label="Quantidade")
      br
      +show-attribute('unitPrice', autoPart)(label="Preço Unitário")
      br
  +back-button(class="col-md-offset-4 col-md-4")
