+form-for(vehicle)(class="form-inline col-lg-12" \
  form_action='/client-panel/vehicles')
  +text-field('model', vehicle)(label="Modelo")
  br
  +text-field('licensePlate', vehicle)(label="Placa")
  br
  +text-field('renavam', vehicle)(label="Renavam")
  br
  +text-field('year', vehicle)(label="Ano")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
