extends ../layout.jade

block content
  h2 Veículos
  br
  a.btn.btn-success(href="/client-panel/vehicles/new")
    i.fa.fa-plus
    |  Cadastrar novo veículo
  hr
  if vehicles.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Modelo
          th Placa
          th Renavam
          th Ano
          th
        each vehicle in vehicles
          tr
            td= vehicle.id
            td= vehicle.model
            td= vehicle.licensePlate
            td= vehicle.renavam
            td= vehicle.year
            td
              +show-button(href="/client-panel/vehicles/#{vehicle.id}")
              +edit-button(href="/client-panel/vehicles/#{vehicle.id}/edit")
              +delete-button(action='/client-panel/vehicles/#{vehicle.id}')
  else
    .panel.panel-default
      if isClientNew
        h3.text-center
          | Antes de criar um agendamento, cadastre os dados do seu veículo&nbsp;
          a(href="/client-panel/vehicles/new") clicando aqui.
      else
        h3.text-center
          | Você ainda não tem nenhum veículo cadastrado,&nbsp;
          a(href="/client-panel/vehicles/new") clique aqui
          | &nbsp;para cadastrar um!
