extends ../layout.jade

block content
  h2 Edição de Veículo
  hr

  form(
    method='POST'
    action= '/attendant-panel/vehicles/' + vehicle.id
    style='margin-bottom: 50px;'
    )

    input(type="hidden" id="_method" name="_method" value="PATCH")
    input(type="hidden" name="clientId" id="clientId" value=vehicle.clientId)

    +text-field('model', vehicle)(label="Modelo")
    br
    +text-field('licensePlate', vehicle)(label="Placa")
    br
    +text-field('renavam', vehicle)(label="Renavam")
    br
    +text-field('year', vehicle)(label="Ano")
    br
    .row
      +submit-button(class="col-xs-3")
      +back-button(class="col-xs-offset-6 col-xs-3")
