extends ../layout.jade

block content
  h2 Listagem de Veículos
  hr
  if vehicles.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th Dono
          th Modelo
          th Placa
          th Renavam
          th Ano
          th Ações
        each vehicle in vehicles
          tr
            td= vehicle.owner
            td= vehicle.model
            td= vehicle.licensePlate
            td= vehicle.renavam
            td= vehicle.year
            td
              +show-button(href="/attendant-panel/vehicles/#{vehicle.id}")
              +edit-button(href="/attendant-panel/vehicles/#{vehicle.id}/edit")
              +delete-button(action='/attendant-panel/vehicles/#{vehicle.id}')
