extends ../layout.jade

block content
  h2 Cadastro de Veículo
  hr 

  form(
    method='POST'
    action= '/attendant-panel/clients/#{vehicle.clientId}/vehicles'
    style='margin-bottom: 50px;'
    )

    +text-field('model', vehicle)(label="Modelo")
    br
    +text-field('licensePlate', vehicle)(label="Placa")
    br
    +text-field('renavam', vehicle)(label="Renavam")
    br
    +text-field('year', vehicle)(label="Ano")
    br
    .row
      +submit-button(class="col-xs-3")
      +back-button(class="col-xs-offset-6 col-xs-3")
