extends ../layout.jade

block content
  h1 Veículo #{vehicle.id}
  +show-box
    +show-attribute('model', vehicle)(label="Modelo")
    br
    +show-attribute('licensePlate', vehicle)(label="Placa")
    br
    +show-attribute('renavam', vehicle)(label="Renavam")
    br
    +show-attribute('year', vehicle)(label="Ano")
    br
    +back-button(class="col-md-offset-4 col-md-4")
