extends ../layouts/mailer.jade

block content
  h3
    | #{user.name}, seja bem vindo à oficina mecânica 
    i
      u
        | Automecânica.
    br
    | Seus dados para acessar o sistema são:
  h4
    | Usuário: 
    b
      | #{user.email}
    br
    | Senha: 
    b
      | #{user.password}
