extends ../layout.jade

block content
  - var datepickerFieldOptions = { required: true, minDate: false, maxDate: false }
  h2 Relatórios
  hr
  form(method= "GET" action= "/admin-panel/reports/search")
    +daypicker-field('startDate', report, datepickerFieldOptions)(label="De" disableTime=true)
    +daypicker-field('endDate', report, datepickerFieldOptions)(label="Até" disableTime=true)
    +submit-button
  hr
  h3 Data inicial do relatório:&nbsp;
    label= report.startDate.format('LL')
  h3 Data final do relatório:&nbsp;
    label= report.endDate.format('LL')
  hr
  h3
    | Total de agendamentos no período:&nbsp;
    = schedulesTotal
  hr
  h3
    | Total de OS criadas no período:&nbsp;
    = sos.length
  h3
    | Total de OS pagas no período:&nbsp;
    = payedSOS.length
  h3
    | Total de OS canceladas no período:&nbsp;
    = cancelledSOS.length
  h3
    | Total de OS pendentes no período:&nbsp;
    = sos.length - finishedSOS.length - cancelledSOS.length
  h3
    | Total de OS finalizadas no período:&nbsp;
    = finishedSOS.length
  hr
  h3
    | Fatura no período: R$&nbsp;
    = income