extends ../layout.jade

block content
  h2 Listagem de Ordens de Serviços
  hr
  if sos.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th Veículo
          th Status das tarefas
          th Status de pagamento
          th Previsão de Término
          th Data do Termino
          th Ações
        each so in sos
          tr
            td= so.licensePlate
            td= so.tasksStatus
            td= so.paymentStatus
            td= moment(so.dueDate).format('lll')
            td= so.endDate ? moment(so.endDate).format('lll') : 'Não encerrado'
            td
              +show-button(href="/client-panel/sos/#{so.id}")
