form(
  method='POST'
  action='/client-panel/client'
  style='margin-bottom: 50px;'
  class="form-inline col-lg-12"
  )

  input(type="hidden" id="_method" name="_method" value="PATCH")

  +show-attribute('name', client)(label="Nome")
  br
  +show-attribute('email', client)(label="Email")
  br
  +text-field('address', client)(label="Endereço")
  br
  +text-field('telephone1', client)(label="Telefone Principal")
  br
  +text-field('telephone2', client)(label="Telefone (Opcional)")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
