extends ../layout.jade

block content
  h1 Cliente #{client.name}
  +show-box
    +show-attribute('email', client)(label="Email")
    br
    +show-attribute('address', client)(label="Endereço")
    br
    +show-attribute('telephone1', client)(label="Telefone Principal")
    br
    if client.telephone2
      +show-attribute('telephone2', client)(label="Telefone (Opcional)")
      br
    +self-edit-button('client')(class="col-md-4")
    +back-button(class="col-md-offset-4 col-md-4")
