extends ../layout.jade

block content
  h2 Listagem de Clientes
  hr
  if clients.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Email
          th Telefone
          th Ações
        each client in clients
          tr
            td= client.id
            td= client.name
            td= client.email
            td= client.telephone1
            td
              +show-button(href="/technician-panel/clients/#{client.id}")
