extends ../layout.jade

block content
  h2 Listagem de Ordens de Serviços
  hr
  if sos.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Veículo
          th Previsão de Término
          th Data do Termino
          th Status das tarefas
          th Status do pagamento
          th Ações
        each so in sos
          tr
            td= so.id
            td= so.licensePlate
            td= moment(so.dueDate).format('lll')
            td= so.endDate ? moment(so.endDate).format('lll') : 'Não encerrado'
            td= so.tasksStatus
            td= so.paymentStatus
            td
              +payment-button(action="/attendant-panel/sos/#{so.id}" id="#{so.id}")

  script.
    $(document).ready(function() {
      $("form").submit(function(event) {
        var paymentButtonId = this.id;
        event.preventDefault();
        alertify.set({
          labels: {
            ok      : "Sim",
            cancel  : "Não"
          },
          buttonFocus: "cancel"
        });
        alertify.confirm("Deseja confirmar o pagamento desta ordem de serviço?", function (event) {
          if (event) {
            $("#" + paymentButtonId)[0].submit();
          }
          else {
            // Não faça nada
          }
        });
      });
    });
