extends ../layout.jade

block content
  h2 Listagem de Agendamentos
  hr
  if schedules.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Data
          th Cliente
          th Ações
        each schedule in schedules
          tr
            td= schedule.id
            td= moment(schedule.datetime).format('lll')
            td= schedule.clientName
            td
              +show-button(href="/admin-panel/schedules/#{schedule.id}")
