.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a(href='/admin-panel/staffs')
          +icon-for('staff')
          |  Funcionários
      li
        a(href='/admin-panel/autoParts')
          +icon-for('autoPart')
          |  Peças
      li
        a(href='/admin-panel/services')
          +icon-for('service')
          |  Serviços
      li
        a(href='/admin-panel/teams')
          +icon-for('team')
          |  Equipes
      li
        a(href='/admin-panel/clients')
          +icon-for('client')
          |  Clientes
      li
        a(href='/admin-panel/vehicles')
          +icon-for('vehicle')
          |  Veículos
      li
        a(href='/admin-panel/schedules')
          +icon-for('schedule')
          |  Agendamentos
      li
        a(href='/admin-panel/sos')
          +icon-for('so')
          |  Ordens de Serviços
      li
        a(href='/admin-panel/revisions')
          +icon-for('revision')
          |  Revisões
      li
        a(href='/admin-panel/reports/search')
          +icon-for('report')
          |  Relatórios