extends ../layout.jade

block content
  h2 Listagem de Serviços
  hr
  if services.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Nome
          th Preço
          th Ações
        each service in services
          tr
            td= service.id
            td= service.name
            td= "R$ " + service.price
            td
              +show-button(href="/mechanic-panel/services/#{service.id}")
