extends ../layout.jade

block content
  h2 Listagem de Equipes
  br
  a.btn.btn-success(href="/technician-panel/teams/new")
    i.fa.fa-plus
    |  Novo
  hr
  if teams.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Especialidade
          th Mecânico 1
          th Mecânico 2
          th Ações
        each team in teams
          tr
            td= team.id
            td= team.speciality
            td= team.name
            td= team.name2            
            td
              +show-button(href="/technician-panel/teams/#{team.teamId}")
              +edit-button(href="/technician-panel/teams/#{team.teamId}/edit")
              +delete-button(action='/technician-panel/teams/#{team.teamId}')
