mixin icon-for(resourceName)
  if resourceName === 'staff'
    i.fa.fa-user.fa-fw
  else if resourceName === 'autoPart'
    i.fa.fa-cubes.fa-fw
  else if resourceName === 'service'
    i.fa.fa-wrench.fa-fw
  else if resourceName === 'team'
    i.fa.fa-gears.fa-fw
  else if resourceName === 'report'
    i.fa.fa-file-text-o.fa-fw
  else if resourceName === 'client'
    i.fa.fa-group.fa-fw
  else if resourceName === 'profile'
    i.fa.fa-user.fa-fw
  else if resourceName === 'schedule'
    i.fa.fa-calendar.fa-fw
  else if resourceName === 'so'
    i.fa.fa-gear.fa-fw
  else if resourceName === 'vehicle'
    i.fa.fa-car.fa-fw
  else if resourceName === 'password'
    i.fa.fa-lock.fa-fw
  else if resourceName === 'revision'
    i.fa.fa-pencil-square-o.fa-fw
  else
    - throw 'Trying to use an icon not defined yet...'