extends ../layout.jade

block content
  h2 Alterar senha
  hr
  form(
    method='POST'
    action='/admin-panel/password'
    style='margin-bottom: 50px;'
    class="form-inline col-lg-12"
    )

    input(type="hidden" id="_method" name="_method" value="PATCH")

    +text-field('currentPassword', admin)(label="Senha atual" type="password")
    br
    +text-field('newPassword', admin)(label="Nova senha" type="password" placeholder="Digite sua nova senha")
    br
    +text-field('newPasswordConfirmation', admin)(label="Confirmação da nova senha" type="password" placeholder="Digite sua nova senha novamente")
    br
    .row
      +submit-button(class="col-xs-3")
      +back-button(class="col-xs-offset-6 col-xs-3")
