extends ../layout.jade

block content
  h1 Gerente #{staff.name}
  +show-box
    +show-attribute('email', staff)(label="Email")
    br
    +show-attribute('address', staff)(label="Endereço")
    br
    +show-attribute('telephone1', staff)(label="Telefone Principal")
    br
    if staff.telephone2
      +show-attribute('telephone2', staff)(label="Telefone (Opcional)")
      br
    +self-edit-button('admin')(class="col-md-4")
    +back-button(class="col-md-offset-4 col-md-4")
