+form-for(team)(class="form-inline col-lg-12" form_action='/admin-panel/teams')
  +text-field('speciality', team)(label="Especialidade")
  +choice-field('mechanic1Id', team, mechanics)(label="Mecânico 1", displayField='name')
  +choice-field('mechanic2Id', team, mechanics)(label="Mecânico 2", displayField='name')
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
