extends ../layout.jade

block content
  h2 Listagem de Equipes
  br
  a.btn.btn-success(href="/admin-panel/teams/new")
    i.fa.fa-plus
    |  Novo
  hr
  if teams.length > 0
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th ID
          th Especialidade
          th Mecânico 1
          th Mecânico 2
          th Ações
        each team in teams
            tr
              td= team.teamId
              td= team.speciality
              td
                a(href="/admin-panel/staffs/#{team.mechanic1Id}") #{team.name}
              td 
                a(href="/admin-panel/staffs/#{team.mechanic2Id}") #{team.name2}            
              td
                +show-button(href="/admin-panel/teams/#{team.teamId}")
                +edit-button(href="/admin-panel/teams/#{team.teamId}/edit")
                +delete-button(action='/admin-panel/teams/#{team.teamId}')
  else
    .panel.panel-default
      h3.text-center
        | Não existe nenhuma equipe cadastrada
