extends ../layout.jade

block content
  h1 Equipe #{team.teamId}
  +show-box
    +show-attribute('speciality', team)(label="Especialidade")
    +show-attribute('name', team)(label="Mecânico 1")
    +show-attribute('name2', team)(label="Mecânico 2")
    br
    +back-button(class="col-md-offset-4 col-md-4")
