+form-for(form)(class="form-inline col-lg-12" form_action='/login')
  +text-field('email', form)(label="Email")
  br
  +text-field('password', form)(label="Senha" type="password")
  br
  .row
    +submit-button(class="col-xs-3")
    +back-button(class="col-xs-offset-6 col-xs-3")
