extends ../layout.jade

block content
  .row
    +display_flash_messages
  h2 Seja bem-vindo!
  p
    | Cliente novo?&nbsp;
    a(href="/registration")
      | Clique aqui
    | &nbsp;para se cadastrar!
  hr
  include ./form.jade
