extends ../layouts/base_layout.jade

block body
  script.
    $( window ).konami({
      cheat: function() {
        window.location.href = "/staff";
      }
    });
  #wrapper
    .container-fluid
      block content