include ../mixins/components.jade
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Automecanica

    link(href='/stylesheets/build/app.css' rel='stylesheet')
    script(src='/scripts/build/app.js')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    include initializers/_init_base.jade
  body
    block body
